dash_core_components==1.10.0
feedparser==5.2.1
pandas==1.0.3
dash==1.12.0
dash_html_components==1.0.3
pytz==2019.3
numpy==1.18.3
dash_table==4.7.0
requests==2.22.0
dateparser==0.7.4
plotly==4.8.0
beautifulsoup4==4.9.1
dash_bootstrap_components==0.10.3
react_table_dash==0.0.3
gunicorn>=19.5.0